{% extends 'base.html.twig' %}
{% block title %}Politique d'expédition{% endblock %}

{% block content %}

<h1>Politique d’expédition</h1>

<h4 >La Commande</h4>
<p>La commande est validée une fois que le paiement a été accepté par MaBDthèque. MaBDthèque se réserve le droit de refuser une commande si le Client présente déjà un litige avec MaBDthèque ou si MaBDthèque estime que le Client comporte un risque de défaut de paiement. MaBDthèque se réserve alors le droit de demander à son Client des informations complémentaires s’il l’estime nécessaire, telles qu’une pièce d’identité ou un justificatif de domicile. Sans réponse du Client dans un délai de 5 jours suivant la commande, la commande et le paiement sont annulés. MaBDthèque s’engage à honorer les commandes reçues, uniquement dans la limite des stocks disponibles.</p>

<h4 >Livraisons en France Métropolitaine</h4>
<p>Nos délais d’expédition sont les suivants :</p>
 <ul>
  <li>Pour toute commande passée du lundi au vendredi avant 13h, la commande sera expédiée le jour-même.</li>
  <li>Pour toute commande passée du lundi au jeudi après 13h, la commande sera expédiée le lendemain.</li>
  <li>Pour toute commande passée du vendredi après 13h au dimanche soir, la commande sera expédiée le lundi suivant.</li>
  <li>Pour toute commande passée les jours fériés, la commande sera expédiée le jour ouvré suivant.</li>
 </ul>

<p>Le Client a le choix entre plusieurs modes de livraison, dont les coûts et les délais varient :</p>
 <table style="height: 287px;" width="881">
  <tbody>
   <tr>
    <td><strong>Mode de livraison</strong></td>
    <td><strong>Délai de livraison (après expédition)</strong></td>
    <td><strong>Tarif pour tout achat &lt;60€</strong></td>
    <td><strong>Tarif pour tout achat &gt;60€</strong></td>
   </tr>
   <tr>
    <td>TNT</td>
    <td>24 heures ouvrables, avec livraison avant 13h</td>
    <td>10€</td>
    <td>5€</td>
   </tr>
   <tr>
    <td>Colissimo</td>
    <td>48 heures ouvrables</td>
    <td>5€</td>
    <td>Gratuit</td>
   </tr>
   <tr>
    <td>Mondial Relay</td>
    <td>3 à 5 jours</td>
    <td>3,5€</td>
    <td>Gratuit</td>
   </tr>
  </tbody>
 </table>

<p>Les délais de livraison sont de la seule responsabilité des Transporteurs et en aucun cas la responsabilité de MaBDthèque ne pourrait être engagée en cas de non-respect des délais de livraison.</p>

<h4 >Livraisons DOM TOM et International</h4>
<p>Nos délais d’expédition sont les suivants:</p>
 <ul>
  <li>Pour toute commande passée du lundi au vendredi avant 13h, la commande sera expédiée le jour-même.</li>
  <li>Pour toute commande passée du lundi au jeudi après 13h, la commande sera expédiée le lendemain.</li>
  <li>Pour toute commande passée du vendredi après 13h au dimanche soir, la commande sera expédiée le lundi suivant.</li>
  <li>Pour toute commande passée les jours fériés, la commande sera expédiée le jour ouvré suivant.</li>
 </ul>

<p><em>* En raison de la situation actuelle en Guadeloupe et en Martinique, Colissimo ne prend plus en charge aucun colis à destination de ces deux départements d’Outre-Mer jusqu’à nouvel ordre. Les livraisons sont prises en charge uniquement par DHL, pour un délai de 5 jours ouvrés. </em></p>
<p>La livraison internationale se fait par Colissimo, ou en mode express par DHL. Les frais de port sont à la charge du Client. Les coûts et délais varient en fonction des destinations :</p>
 <table>
  <tbody>
   <tr>
    <td><p><strong>Pays de livraison</strong></p></td>
    <td><strong>Délai de livraison (après expédition)</strong></td>
    <td><strong>Livraison Standard </strong></td>
    <td><strong>Délai de livraison Express (après expédition)</strong></td>
    <td><strong>Livraison Express</strong></td>
   </tr>
   <tr>
    <td> Dom Tom</td>
    <td>5 à 10 jours</td>
    <td><p> 15€</p><p>Offert pour toute commande &gt; 150€</p></td>
   <tr>
    <td>Union Européenne et Suisse (Espagne, Portugal, Royaume Uni, Allemagne, Autriche, Finlande, Belgique, Luxembourg, Pays Bas, Danemark, Irlande, Suède, Italie, Suisse)</td>
    <td>3 à 6 jours</td>
    <td><p>8€</p><p>Offert pour toute commande &gt; 100€</p></td>
    <td>1 jour</td>
    <td><p>15€</p><p>7€ pour toute commande &gt; 100€</p></td>
   </tr>
   <tr>
    <td>Reste de l’Europe et Norvège (Bulgarie, Chypre, Croatie, Estonie, Grèce, Hongrie, Lettonie, Lituanie, Malte, Pologne, République-Tchèque, Roumanie, Slovaquie, Slovénie, Norvège)</td>
    <td>4 à 7 jours</td>
    <td><p>15€</p><p>Offert pour toute commande &gt; 150€</p></td>
    <td>2 jours</td>
    <td><p>25€</p><p>10€ pour toute commande &gt; 150€</p></td>
   </tr>
   <tr>
    <td>USA</td>
    <td>5 à 8 jours</td>
    <td><p>15€</p><p>Offert pour toute commande &gt; 150€</p></td>
    <td>2 jours</td>
    <td><p>20€</p><p>5€ pour toute commande &gt; 150€</p></td>
   </tr>
   <tr>
    <td>Reste du monde</td>
    <td>4 à 10 jours</td>
    <td><p>15€</p><p>Offert pour toute commande &gt; 150€</p></td>
    <td>2 à 4 jours</td>
    <td><p>25€</p><p>10€ pour toute commande &gt; 150€ </p></td>
   </tr>
  </tbody>
 </table>

<p>Hors Union Européenne, des taxes de douane ou d’importation peuvent s’ajouter au prix de nos produits et restent à la charge du Client. Il est donc du ressort du Client de s’informer de leur montant auprès de son bureau de douane local.</p>

<h4>Retours et Echanges</h4>
<p>Vous souhaitez nous retourner un produit ? Pas de souci ! Pour tout retour, veuillez nous envoyer un petit mail à l’adresse contact@mabdtheque.fr afin de nous prévenir. Merci d’y préciser : <strong>le numéro de votre commande</strong>, <strong>le(s) les produit(s) retourné(s), la (les) raison(s) du retour ainsi qu’une demande d’échange, de bon d’achat ou de remboursement.</strong> Ainsi vous serez assuré.e du bon traitement de votre demande et d’une plus grande rapidité dans sa gestion. </p>
<p>Tout Client peut demander l’échange de son article dans un délai de 14 jours à compter de la date de la commande. Les retours des commandes expédiées en France métropolitaine et hors de France métropolitaine sont à la charge du Client.</p>
<p>Le produit pour lequel le Client demande un échange doit être intact, non ouvert et dans son emballage d’origine. </p>
<p>L’adresse de retour est la suivante :</p>
<p><strong>MaBDthèque</strong><br><strong>Rue des étoiles</strong><br><strong>34000 Montpellier</strong></p>
<p>Il n’est pas nécessaire de joindre de document au colis. </p>
<p>Nous vous conseillons de choisir un mode de transport avec numéro de suivi. Sans numéro de suivi, nous n’accepterons aucune réclamation.<br><br>De plus, afin que votre retour soit traité dans les plus brefs délais, nous vous conseillons de le signaler également par email à contact@mabdtheque.fr.<br><br>Si l’article est refusé par MaBDthèque, celui-ci est renvoyé au Client aux frais de MaBDthèque sans que le Client ne puisse exiger quelque compensation que ce soit. Si le retour n’a pas été annoncé par le client, un bon achat est automatiquement créé et envoyé au client.</p>
<p>Lorsque la commande était accompagnée d’un cadeau offert sous conditions – par exemple, cadeau offert seulement si un montant minimum de commande était atteint, comme le Goodie Bag – si vous retournez des produits et que le montant restant de votre commande ne remplit plus les conditions de l’offre, dans ce cas il faut également nous retourner le cadeau pour pouvoir être remboursé (<a href="{{path('cgv')}}" target="_blank" rel="noopener">voir nos CGV pour plus de détails</a>).</p>
<p>Les commandes réalisées sur le site internet de MaBDthèque ne peuvent être ni retournées ni échangées dans les boutiques.</p>

{% endblock %}

