{% extends 'base.html.twig' %} 
{% block title %}Notre histoire{% endblock %} 

{% block content %} 

<h1>Notre histoire</h1>


  <div class="row">
    <p>
      <strong>Chaque lecture compte et chaque lecteur compte.</strong>
    </p>
    <div class="col-lg-6 bb-medium-text-size ">
      <p>On a créé MaBDthèque pour que chaque lecteur, petit amateur comme grand collectionneur, puisse pleinement vivre sa passion au quotidien.</p>
      <p>Et on le sait, notre quotidien est jonché d'embûches ! Alors sur MaBDthèque vous avez tout à disposition : on vous aide à organiser votre collection comme un.e pro, on vous suggère des sorties faites pour vous, des sélections et des chroniques pour que vous trouviez album à votre pied. Et si vous voulez les commander, toutes les voies sont possibles, Click&nbsp;&amp;&nbsp;Collect avec des librairies indépendantes, relais colis ou livraison à domicile.</p>
      <p>Qui veut d'un monde du livre qui marche sur la tête ? <br> Le marché de la bande dessinée, malgré son dynamisme actuel, est jonché d'injustices et d'obstacles qui l'empêchent de faire sa mutation. Tous les acteurs de la chaine sont concernés et nous avons la conviction que nous, petits ou grands lecteurs peuvent influencer les choix qui dessineront le monde du livre de demain. <br>
        <br>En bref, nous pensons qu'il est possible de dessiner un monde du livre équitable pour tous les acteurs de la chaîne. Ca sonne naïf et grandiloquent mais c'est tout à fait ça qu'on veut faire.
      </p>
    </div>
    <div class="col-lg-6 order-6 order-lg-0 ">
      <img src="{{asset('assets/images/bdhistoire.png')}}" alt="Bulle MaBDthéque" height="350" class="rounded mx-auto d-block">
    </div>

  </div>

{% endblock %}