{% extends 'base.html.twig' %}

{% block title %} Inscription {% endblock %}

{% block content %}


<div class="example-wrapper">
    <h2>Inscription </h2>
    <div class="row g-2">
        {{form(form)}}
    </div>
</div>
{% endblock %}
